@using BaseEntities.Database
@model List<UserComment>


<section class="section border-0 bg-quaternary m-0">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col col-lg-9 text-center">

                <div class="divider divider-small divider-small-lg mt-0 text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                    <hr class="bg-primary border-radius m-auto">
                </div>
                <div class="overflow-hidden mb-1">
                    <h3 class="font-weight-semi-bold text-color-grey text-uppercase positive-ls-3 text-4 line-height-2 line-height-sm-7 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">@(Localizer["reviewsection1"])</h3>
                </div>
                <h2 class="text-color-dark font-weight-bold text-8 pb-4 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">@(Localizer["reviewsection2"])</h2>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">

                <div class="owl-carousel owl-theme stage-margin rounded-nav nav-dark nav-icon-1 nav-size-md mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 2}, '1199': {'items': 2}}, 'margin': 0, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}">

                    @foreach (var item in Model)
                    {
                        <div class="mx-3">
                            <div class="testimonial testimonial-style-3 testimonial-style-3-light">
                                <blockquote class="p-3 before-d-none">
                                    <p class="font-weight-medium text-4 line-height-5 p-3 m-0">@Html.Raw(item.Description)</p>
                                </blockquote>
                                <div class="testimonial-arrow-down p-relative z-index-1"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                    </div>
                                    <p><strong class="font-weight-extra-bold">@item.UserName</strong><span>@item.CommentDate.ToShortDateString()</span></p>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    $(function(){
        if ($.isFunction($.fn['themePluginAnimate']) && $('[data-appear-animation]').length) {
            theme.fn.dynIntObsInit( '[data-appear-animation], [data-appear-animation-svg]', 'themePluginAnimate', theme.PluginAnimate.defaults );
        }
            if ($.isFunction($.fn['themePluginCarousel']) && $('[data-plugin-carousel]:not(.manual), .owl-carousel:not(.manual)').length) {
            theme.fn.intObsInit( '[data-plugin-carousel]:not(.manual), .owl-carousel:not(.manual)', 'themePluginCarousel' );
        }

    });
</script>

