@using BarameBroad.WebUI.Localizer
@using BaseEntities.Database
@model MasterTeam

@{
    ViewData["Title"] = "Personel Oluştur";
    string paneClass = "show active";
    string linkClass = "active";
}
<!--begin::Card-->
<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header card-header-tabs-line">
        <div class="card-title">
            <h3 class="card-label">Personel Ekle</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    if (i == 0)
                    {
                        linkClass = "active";
                    }
                    else
                    {
                        linkClass = "";
                    }

                    <li class="nav-item">
                        <a class="nav-link @linkClass" data-toggle="tab" href="#kt_tab_pane_@Languages.All[i].Split("-")[0]">
                            <span class="nav-text">@Languages.All[i]</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
    <form class="kt-form" method="post" asp-area="SiteConfig" asp-controller="Team" asp-action="Create" id="upload-imagezone" data-redirect="@Url.Action("Index","Team",new{Area="SiteConfig"})">
        <div class="card-body">
            <div class="tab-content">
                <div class="form-group">
                    @Html.LabelFor(s => s.FirstName, "Ad")
                    @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control", placeholder = "Ad Girin." })
                    @Html.ValidationMessageFor(s => s.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.LastName, "Soyad")
                    @Html.TextBoxFor(s => s.LastName, new { @class = "form-control", placeholder = "Soyad Girin." })
                    @Html.ValidationMessageFor(s => s.LastName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(s => s.Facebook, "Facebook")
                    @Html.TextBoxFor(w=>w.Facebook, new { @class = "form-control", placeholder = "Facebook Linki Girin." })
                    @Html.ValidationMessageFor(s => s.Facebook)
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Instagram, "Instagram")
                    @Html.TextBoxFor(w=>w.Instagram, new { @class = "form-control", placeholder = "Instagram Linki Girin." })
                    @Html.ValidationMessageFor(s => s.Instagram)
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Linkedn, "Linkedn")
                    @Html.TextBoxFor(w=>w.Linkedn, new { @class = "form-control", placeholder = "Linkedn Linki Girin." })
                    @Html.ValidationMessageFor(s => s.Linkedn)
                </div>
                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    <input type="hidden" name="Childrens[@i].Lang" value="@Languages.All[i]">
                    if (i == 0)
                    {
                        paneClass = "show active";
                    }
                    else
                    {
                        paneClass = "";
                    }
                    <div class="tab-pane fade @paneClass" id="kt_tab_pane_@Languages.All[i].Split("-")[0]" role="tabpanel" aria-labelledby="kt_tab_pane_@Languages.All[i].Split("-")[0]">

                        <div class="form-group">
                            @Html.LabelFor(s => s.Childrens[i].Duty, "Görev")
                            @Html.TextBoxFor(s => s.Childrens[i].Duty, new { @class = "form-control", placeholder = "Görev Girin." })
                            @Html.ValidationMessageFor(s => s.Childrens[i].Duty)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Childrens[i].Description, "Açıklama")
                            @Html.TextAreaFor(s => s.Childrens[i].Description, new { @class = "form-control editor", placeholder = "Açıklama Girin." })
                            @Html.ValidationMessageFor(s => s.Childrens[i].Description)
                        </div>

                    </div>
                }


            </div>
            <div class="form-group">
                <div data-partial="@Url.Action("FileBasePartial", "File", new {Area="Admin", type = "Team"})"></div>
            </div>
        </div>
        <div class="card-footer">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary w-100">Kaydet</button>
            </div>
        </div>
    </form>

</div>
<!--end::Card-->
