@using BaseEntities.Database
@model BaseEntities.Concrete.UpdateEntityModel<MasterSiteSection,SiteSection>

@{
    ViewData["Title"] = "Site Alanı Düzenle";
    string paneClass = "show active";
    string linkClass = "active";
}
<!--begin::Card-->

<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header card-header-tabs-line">
        <div class="card-title">
            <h3 class="card-label">S.s.s Düzenle</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                @for (var i = 0; i < Model.LangEntities.Count; i++)
                {
                    if (i == 0)
                    {
                        linkClass = "active";
                    }
                    else
                    {
                        linkClass = "";
                    }

                    <li class="nav-item">
                        <a class="nav-link @linkClass" data-toggle="tab" href="#kt_tab_pane_@Model.LangEntities[i].Lang.Split("-")[0]">
                            <span class="nav-text">@Model.LangEntities[i].Lang</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <form class="kt-form" method="post" asp-area="SiteUserSection" asp-controller="SiteSection" asp-action="Update" id="upload-imagezone" data-redirect="@Url.Action("Update","SiteSection",new{Area="SiteUserSection",id=Model.Entity.Id})">
                @Html.HiddenFor(w=>w.Entity.Id)
                @Html.HiddenFor(w=>w.Entity.Name)
                @Html.HiddenFor(w=>w.Entity.PartialName)
                @Html.HiddenFor(w=>w.Entity.Index)
                @for (var i = 0; i < Model.LangEntities.Count; i++)
                {
                    Html.HiddenFor(w => w.LangEntities[i].Id);
                    if (i == 0)
                    {
                        linkClass = "show active";
                    }
                    else
                    {
                        linkClass = "";
                    }
                    <div class="tab-pane fade @paneClass" id="kt_tab_pane_@Model.LangEntities[i].Lang.Split("-")[0]" role="tabpanel" aria-labelledby="kt_tab_pane_@Model.LangEntities[i].Lang.Split("-")[0]">

                        <div class="form-group">
                            @Html.LabelFor(s => s.LangEntities[i].Title, "Başlık")
                            @Html.TextBoxFor(s => s.LangEntities[i].Title, new { @class = "form-control", placeholder = "Başlık Girin." })
                            @Html.ValidationMessageFor(s => s.LangEntities[i].Title)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.LangEntities[i].Description, "Açıklama")
                            @Html.TextAreaFor(s => s.LangEntities[i].Description, new { @class = "form-control editor", placeholder = "Açıklama Girin." })
                            @Html.ValidationMessageFor(s => s.LangEntities[i].Description)
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div data-partial="@Url.Action("FilePartial", "File", new {Area="Admin",itemId = Model.Entity.Id, type = "SiteSection"})"></div>
                </div>
            </form>
        </div>

    </div>
    <div class="card-footer">
        <div class="kt-form__actions">
            <button type="submit" class="btn btn-primary w-100">Kaydet</button>
        </div>
    </div>
</div>
<!--end::Card-->
