@using BaseEntities.Database
@model Reference

@{
    ViewData["Title"] = "Referans Medya Oluştur";
}

<div class="card card-custom mx-4">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Referans Ekle
            </h3>
        </div>
    </div>
    <div class="card-body">

        <!--begin::Form-->
        <form class="kt-form" method="post" asp-area="SiteConfig" asp-controller="Reference" asp-action="Create" id="upload-imagezone" data-redirect="@Url.Action("Index","Reference",new{Area="SiteConfig"})">
            <div class="card-body">
                <div class="kt-section kt-section--first">
                    <div class="form-group">
                        @Html.LabelFor(s => s.ReferenceName, "Referans Adı")
                        @Html.TextBoxFor(s => s.ReferenceName, new { @class = "form-control", placeholder = "Referans Adı Girin." })
                        @Html.ValidationMessageFor(s => s.ReferenceName)
                    </div>
                    <div class="form-group">
                        <div data-partial="@Url.Action("FileBasePartial", "File", new {Area="Admin", type = "Reference"})"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary w-100">Kaydet</button>
                </div>
            </div>
        </form>

        <!--end::Form-->

    </div>
</div>
