@using BarameBroad.WebUI.Localizer
@using BaseEntities.Database
@model MasterSchool

@{
    ViewData["Title"] = "Okul Oluştur";
    string paneClass = "show active";
    string linkClass = "active";
}
<!--begin::Card-->
<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header card-header-tabs-line">
        <div class="card-title">
            <h3 class="card-label">Okul Ekle</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    if (i == 0)
                    {
                        linkClass = "active";
                    }
                    else
                    {
                        linkClass = "";
                    }

                    <li class="nav-item">
                        <a class="nav-link @linkClass" data-toggle="tab" href="#kt_tab_pane_@Languages.All[i].Split("-")[0]">
                            <span class="nav-text">@Languages.All[i]</span>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @linkClass" data-toggle="kt-tooltip" title="" data-placement="top" data-original-title="Önce Kayıt işlemini tamamlayın !" >
                        <span class="nav-text">Alt İçerikler</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form class="kt-form" method="post" asp-area="Program" asp-controller="School" asp-action="Create" id="upload-imagezone" data-redirect="@Url.Action("Update","School",new{Area="Program"})" data-message-query="true">
        <div class="card-body">
            <div class="tab-content">

                <div class="form-group appender">
                    @Html.LabelFor(s => s.CityId, "Şehir")
                    <div data-partial="@Url.Action("CitySelectPartial","City",new{Area="Program"})"> Şehirler Yükleniyor </div>
                    @Html.HiddenFor(w=>w.CityId)
                    @Html.ValidationMessageFor(s => s.CityId)
                </div>

                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    <input type="hidden" name="Childrens[@i].Lang" value="@Languages.All[i]">
                    if (i == 0)
                    {
                        paneClass = "show active";
                    }
                    else
                    {
                        paneClass = "";
                    }
                    <div class="tab-pane fade @paneClass" id="kt_tab_pane_@Languages.All[i].Split("-")[0]" role="tabpanel" aria-labelledby="kt_tab_pane_@Languages.All[i].Split("-")[0]">

                        <div class="form-group">
                            @Html.LabelFor(s => s.Childrens[i].Name, "Ad")
                            @Html.TextBoxFor(s => s.Childrens[i].Name, new { @class = "form-control", placeholder = "Okul Adını Girin." })
                            @Html.ValidationMessageFor(s => s.Childrens[i].Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Childrens[i].Description, "Açıklama")
                            @Html.TextAreaFor(s => s.Childrens[i].Description, new { @class = "form-control editor", placeholder = "Okul Açıklaması Girin." })
                            @Html.ValidationMessageFor(s => s.Childrens[i].Description)
                        </div>

                    </div>
                }


            </div>
            <div class="form-group">
                <div data-partial="@Url.Action("FileBasePartial", "File", new {Area="Admin", type = "School"})"></div>
            </div>
        </div>
        <div class="card-footer">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary w-100">Kaydet</button>
            </div>
        </div>
    </form>

</div>
<!--end::Card-->
