@using BarameBroad.WebUI.Localizer
@using BaseEntities.Database
@using BaseEntities.EnumTypes
@model ProgramDto

@{
    ViewData["Title"] = "Program Düzenle";
    string paneClass = "show active";
    string linkClass = "active";
}
<!--begin::Card-->
<div class="card card-custom card-sticky" id="kt_page_sticky_card">
    <div class="card-header card-header-tabs-line">
        <div class="card-title">
            <h3 class="card-label">Program Düzenle</h3>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    if (i == 0)
                    {
                        linkClass = "active";
                    }
                    else
                    {
                        linkClass = "";
                    }

                    <li class="nav-item">
                        <a class="nav-link @linkClass" data-toggle="tab" href="#kt_tab_pane_@Languages.All[i].Split("-")[0]">
                            <span class="nav-text">@Languages.All[i]</span>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_content">
                        <span class="nav-text">Alt İçerikler</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="ContentDetail" target="_blank" asp-action="Create" asp-area="Program" asp-route-Value="@Model.MasterProgram.Id" asp-route-DisplayText="@Model.MasterProgram.Name" asp-route-EntityRelationType="@EntityRelationType.Program" class="navi-link">
                        <span class="navi-text">Yeni Alt Başlık Ekle</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <form class="kt-form" method="post" asp-area="Program" asp-controller="Program" asp-action="Update" id="upload-imagezone" data-redirect="@Url.Action("Index","Program",new{Area="Program"})">
        <div class="card-body">
            <div class="tab-content">

                <div class="tab-pane fade" id="kt_tab_pane_content" role="tabpanel" aria-labelledby="kt_tab_pane_content">

                    <div data-partial="@Url.Action("GridPartial","ContentDetail",new ContentDetailTempModel{Value=Model.MasterProgram.Id ,DisplayText=Model.MasterProgram.Name,EntityRelationType=BaseEntities.EnumTypes.EntityRelationType.Program})">
                        Alt İçerikler Yükleniyor...
                    </div>
                    <hr />
                </div>

                @Html.HiddenFor(w=>w.MasterProgram.Id)
                @Html.HiddenFor(w=>w.MasterProgram.MasterProgramId,new{Id="ProgramId"})
                <div class="form-group appender">
                    @Html.LabelFor(s => s.MasterProgram.MasterProgramId, "Ana Program")
                    <div data-partial="@Url.Action("ProgramSelectPartial","Program",new{Area="Program",selected=Model.MasterProgram!= null ? Model.MasterProgram.MasterProgramId : null})"> Programlar Yükleniyor </div>
                </div>
                <div class="form-group appender">
                    @Html.LabelFor(s => s.Countries, "Ülkeler")
                    <div data-partial="@Url.Action("CountryMultipleSelectPartial","Country",new{Area="Program",selecteds=Model.Countries})"> Ülkeler Yükleniyor </div>
                </div>
                <div class="form-group appender">
                    @Html.LabelFor(s => s.Cities, "Şehirler")
                    <div data-partial="@Url.Action("CityMultipleSelectPartial","City",new{Area="Program",selecteds=Model.Cities})"> Şehirler Yükleniyor </div>
                </div>
                <div class="form-group appender">
                    @Html.LabelFor(s => s.Schools, "Okullar")
                    <div data-partial="@Url.Action("SchoolMultipleSelectPartial","School",new{Area="Program",selecteds=Model.Schools})"> Okullar Yükleniyor </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(s => s.MasterProgram.Order, "Sıra")
                    @Html.TextBoxFor(s => s.MasterProgram.Order, new { @class = "form-control", placeholder = "Sıra Girin.",data_number="true" })
                    @Html.ValidationMessageFor(s => s.MasterProgram.Order)
                </div>

                @for (var i = 0; i < Languages.All.Count; i++)
                {
                    @Html.HiddenFor(w=>w.MasterProgram.Childrens[i].Id)
                    @Html.HiddenFor(w=>w.MasterProgram.Childrens[i].Lang)
                    @Html.HiddenFor(w=>w.MasterProgram.Childrens[i].FriendlyName)
                    if (i == 0)
                    {
                        paneClass = "show active";
                    }
                    else
                    {
                        paneClass = "";
                    }
                    <div class="tab-pane fade @paneClass" id="kt_tab_pane_@Languages.All[i].Split("-")[0]" role="tabpanel" aria-labelledby="kt_tab_pane_@Languages.All[i].Split("-")[0]">

                        <div class="form-group">
                            @Html.LabelFor(s => s.MasterProgram.Childrens[i].Name, "Ad")
                            @Html.TextBoxFor(s => s.MasterProgram.Childrens[i].Name, new { @class = "form-control", placeholder = "Program Adını Girin." })
                            @Html.ValidationMessageFor(s => s.MasterProgram.Childrens[i].Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.MasterProgram.Childrens[i].Description, "Açıklama")
                            @Html.TextAreaFor(s => s.MasterProgram.Childrens[i].Description, new { @class = "form-control editor", placeholder = "Program Açıklaması Girin." })
                            @Html.ValidationMessageFor(s => s.MasterProgram.Childrens[i].Description)
                        </div>

                    </div>
                }


            </div>
            <div class="form-group">
                <div data-partial="@Url.Action("FilePartial", "File", new {Area="Admin",itemId = Model.MasterProgram.Id, type = "Program"})"></div>
            </div>
        </div>
        <div class="card-footer">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary w-100">Kaydet</button>
            </div>
        </div>
    </form>
</div>
<!--end::Card-->
