@using BaseEntities.Database
@model MasterSiteConfig

<section class="section border-0 bg-dark m-0 p-relative">
    <div class="particles-wrapper z-index-1">
        <div id="particles-1"></div>
    </div>
    <div class="container py-5 p-relative z-index-2">
        <div class="row">
            <div class="col text-center">

                <div class="divider divider-small divider-small-lg mt-0 text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                    <hr class="bg-primary border-radius m-auto">
                </div>
                <div class="overflow-hidden mb-1">
                    <h3 class="font-weight-semi-bold text-color-grey text-uppercase positive-ls-3 text-4 line-height-2 line-height-sm-7 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">@(Localizer["statsection1"])</h3>
                </div>

            </div>
        </div>
        <div class="row pt-4 pb-3 counters text-light appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="counter">
                    <strong data-to="@Model.FirstCounterValue" data-append="+">@Model.FirstCounterValue</strong>
                    <label class="font-weight-semibold text-4 opacity-7">@Model.FirstCounterText</label>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="counter">
                    <strong data-to="@Model.ThirdCounterValue" data-append="+">@Model.ThirdCounterValue</strong>
                    <label class="font-weight-semibold text-4 opacity-7">@Model.SecondCounterText</label>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-sm-0">
                <div class="counter">
                    <strong data-to="@Model.ThirdCounterValue" data-append="+">@Model.ThirdCounterValue</strong>
                    <label class="font-weight-semibold text-4 opacity-7">@Model.ThirdCounterText</label>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(function(){
        if ($.isFunction($.fn['themePluginAnimate']) && $('[data-appear-animation]').length) {
            theme.fn.dynIntObsInit( '[data-appear-animation], [data-appear-animation-svg]', 'themePluginAnimate', theme.PluginAnimate.defaults );
        }
         particlesJS("particles-1", {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#0088cc"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 1,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 1,
                        "opacity_min": 0,
                        "sync": false
                    }
                },
                "size": {
                    "value": 8,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 4,
                        "size_min": 0.3,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": false,
                    "distance": 150,
                    "color": "#0088cc",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 1,
                    "direction": "none",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 600
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "bubble"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 250,
                        "size": 0,
                        "duration": 2,
                        "opacity": 0,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 400,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });


    });
</script>

